<!-- Toolbar -->
<header>
  <mat-toolbar color="primary">
    <div class="container">
      <span class="title">Malou Test</span>
    </div>
  </mat-toolbar>
</header>

<section class="pt-4 container">
  <div class="row">
    <div class="col-md-7">
      {{totalProduits}} produit{{totalProduits>1 ? 's':''}} trouvé{{totalProduits>1 ? 's':''}}
    </div>
    <div class="col-md-5">
      <div class="form-group">
        <div class="input-group mb-3">
          <input type="text" class="date-range" placeholder="Sélectionnez un intervalle de dates" class="form-control" bsDaterangepicker
            [bsConfig]="{ adaptivePosition: true, containerClass: 'theme-orange', dateInputFormat: 'YYYY-MM-DD' }"
            (bsValueChange)="onValueChange($event)">
          <div class="input-group-append">
            <button class="btn btn-warning" type="button" [disabled]="isLoading" (click)="search()">Valider</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="datas && totalProduits > 0">
    <div class="row">
      <div class="col-sm-12">
        <google-chart style="width: 100%;" [height]="chart.height" [title]="chart.title" [type]="chart.type"
          [data]="chart.data" [columns]="chart.columnNames" [options]="chart.options">
        </google-chart>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-md-4 mb-3" *ngFor="let product of datas.edges">
        <mat-card class="card">
          <img mat-card-image [src]="product.node.thumbnail.url" [alt]="product.node.name">
          <mat-card-content>
            <small>{{product.node.createdAt | date}}</small>
            <h4>{{product.node.name}}</h4>
            
            <div class="chip_list">
              <span class="chip_elt badge badge-warning"
                *ngFor="let collection of product.node.collections.edges">{{collection.node.name}}

              </span>
            </div>
            <small>{{product.node.tagline | truncate : [50]}}</small>
            <p>
              {{product.node.description| truncate : [120]}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <!-- <button mat-button>LIKE</button> -->
            <a [href]="product.node.url" target="_blank" mat-raised-button>ALLER SUR LE SITE</a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  <div *ngIf="isLoading === true" class="d-flex justify-content-center m-4 p-4">
    <div class="spinner-border text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div *ngIf=" totalProduits == 0 && isLoading === false"
    class="d-flex justify-content-center flex-column align-items-center m-4 p-4">
    <img class="no_results_img" src="assets/images/no_results.svg" alt="">
    <span class="no_result_txt">Aucun résultat</span>
  </div>
</section>

<!-- <router-outlet></router-outlet> -->
