.header-spacer {
  flex: 1 1 auto;
}
.card {
  max-width: 400px;
}
.card img{
    max-height: 400px;
}
.no_results_img{
    width: 30rem;
    max-width: 100%;
    margin: 5rem 0;
}
.chip_list{
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    display: inline-flex;
}
.chip_elt{
    display: inline-block;
    margin-right: 5px;
}
